{% extends 'base.html.twig' %} {% block title %}Connexion{% endblock %} {% block
body %}
<form method="post">
  {% if app.user %}
  <div
    class="header-bg vh-100 h5 d-flex text-center align-items-center justify-content-center flex-column flex-grow-1"
  >
    Vous êtes déjà connecté avec l'adresse email "{{ app.user.username }}"
    <div
      class="d-flex align-items-center justify-content-center flex-wrap hover-btn transition-btn mt-1"
    >
      <a
        class="btn btn-lg btn-secondary m-2 hover-btn transition-btn"
        href="{{ path('app_home') }}"
        >Retour</a
      >
      <a
        class="btn btn-lg btn-danger m-2 hover-btn transition-btn"
        href="{{ path('app_logout') }}"
        >Déconnexion</a
      >

      <a
        class="btn btn-lg btn-success m-2 hover-btn transition-btn"
        href="{{ path('app_user_dashboard') }}"
      >
        Dashboard
      </a>
    </div>
  </div>
  {% else %}
  <div
    class="header-bg vh-100 h-5 d-flex align-items-center justify-content-center flex-column flex-grow-1"
  >
    {% if error %}
    <div class="alert alert-danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
    <div
      class="d-flex align-items-center justify-content-center flex-column bg-white p-4 rounded-3"
    >
      <h1 class="h3 mb-2 font-weight-normal text-uppercase">Connexion</h1>
      <a
        class="text-decoration-none mb-2 hover-link transition-btn"
        href="{{ path('app_register') }}"
        >Inscription</a
      >
      <label class="w-100" for="inputEmail">Email</label>
      <input
        type="email"
        value="{{ last_username }}"
        name="email"
        id="inputEmail"
        class="form-control mt-1 mb-2"
        autocomplete="email"
        required
        autofocus
      />
      <label class="w-100" for="inputPassword">Mot de passe</label>
      <input
        type="password"
        name="password"
        id="inputPassword"
        class="form-control mt-1 mb-2"
        autocomplete="current-password"
        required
      />

      <input
        type="hidden"
        name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
      />

      <div class="checkbox mb-3 pt-1">
        <label>
          <input type="checkbox" name="_remember_me" /> Se souvenir de moi
        </label>
      </div>

      <button
        id="btn-login"
        class="btn btn-lg btn-primary hover-btn transition-btn"
        type="submit"
      >
        Se connecter
      </button>
      <div id="spinner" class="d-none pt-5 spinner spinner-small text-blue">
        <svg viewBox="25 25 50 50">
          <circle
            class="spinner-path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="3"
          />
        </svg>
      </div>
    </div>
    <a
      class="text-decoration-none pt-3 hover-link transition-btn"
      href="{{ path('app_home') }}"
      >Retour a l'accueil</a
    >
  </div>

  {% endif %}
</form>
{% endblock %}
