<form
  method="post"
  action="{{ path('app_honeyed_delete', { id: t_honeyed.id }) }}"
  onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer le type de miellée ?');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ t_honeyed.id) }}"
  />
  <button class="btn btn-danger m-1">Supprimer</button>
</form>
