{% extends 'base.html.twig' %} {% block title %}Ajouter une ruche{% endblock %}
{% block body %}
<h1>Ajouter une ruche</h1>

{{ include("hives/_form.html.twig") }}

<a class="btn btn-secondary m-1" href="{{ path('app_hives_index') }}">Retour</a>
{% endblock %}
