<form
  method="post"
  action="{{
    path('app_birthdate_delete', {
      userIdBirthdateAccount: t_user_info_birthdate.userIdBirthdateAccount
    })
  }}"
  onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer la date de naissance ?');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ t_user_info_birthdate.userIdBirthdateAccount) }}"
  />
  <button class="btn btn-danger m-1">Supprimer</button>
</form>
