{% extends 'base.html.twig' %} {% block title %}Crée un type de ruche{% endblock
%} {% block body %}
<h1>Crée un type de ruche</h1>

{{ include("types/_form.html.twig") }}

<a class="btn btn-secondary m-1" href="{{ path('app_types_index') }}">Retour</a>
{% endblock %}
