<form method="post" action="{{ path('app_swarms_delete', {'id': t_swarm.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_swarm.id) }}">
    <button class="btn">Delete</button>
</form>
