<form method="post" action="{{ path('app_coordinates_gps_delete', {'id': t_coordinates_gp.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_coordinates_gp.id) }}">
    <button class="btn">Delete</button>
</form>
