{% extends 'base.html.twig' %} {% block title %}Modifier le nom et le prénom{%
endblock %} {% block body %}
<h1>Modifier le nom et le prénom</h1>

{{ include("identity/_form.html.twig", { button_label: "Mettre a jour" }) }}

<a class="btn btn-secondary m-1" href="{{ path('app_identity_index') }}"
  >Retour</a
>

{{ include("identity/_delete_form.html.twig") }}
{% endblock %}
